

#field-deposito{
    width: 95%;
}
#input-codigo{
    width: 95%;
}


.label {
    color: black !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  /* Bulma's default font */
}
#deposit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top:200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #deposit-container {
        width: 80%;
        margin-top: 50px;
    }
}